.wrapper {
    height: 100%;
    display: flex;
}

.contentWrapper {
    flex: 1;
    min-width: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contentMain {
    flex: 1;
    width: 1440px;
    padding: 1.5rem;
    transition: padding 0.25s ease-in-out 0s;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

.contentContainer {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -1.5rem;
    width: calc(100% + 1.5rem);
    margin-left: -1.5rem;
}

.contentItem {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    flex: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.shadowBox {
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    background-color: #ffffff;
    min-height: 500px;
    border-radius: 10px;
    position: relative;
}

.mainHeader {
    display: flex;
    align-items: center;
    padding: 1.25rem;
}

.mainBody {
    padding: 1.25rem;
}

.search {
    padding: 1.25rem;
}

.box {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    flex: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.header {
    margin-bottom: 20px;
}

.body {
    overflow: auto;
    padding: 1.5rem;
    height: 50vh;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: calc(100% + 1.25rem);
    margin-top: -1.25rem;
    margin-left: -1.25rem;
}

.item50 {
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    flex: 0;
    flex-basis: 50%;
    max-width: 50%;
}

.item100 {
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    flex: 0;
    flex-basis: 100%;
    max-width: 100%;
}

.column {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.inline {
    display: flex;
    justify-content: flex-end;
}

.form {

}

.input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #c4cae0;
    margin-top: 5px;
    margin-right: 10px;
}

.input:focus {
    outline: none;
    border-color: #6f6df4
}

.textarea {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #c4cae0;
    margin-top: 5px;
}

.submit {
    display: flex;
    gap: 30px;
    margin: 20px auto;
}